.loader{
    width: 30px;
    height: 30px;
    border: 5px solid black;
    border-top:5px solid white;
    border-radius: 50%;
    position: relative;
    justify-self: center;
    align-self: center;
    animation: loader 1s linear 1s infinite normal;
}
@keyframes loader{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(90deg);}
    50%{transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}
#loadingp{
    width: 100%;
    text-align: center;
    align-self: center;
}

.joblist_heading{
    font-family:cursive ;
    font-size: 40px;
    font-weight: 400;
    margin-left: 40px ;
    text-decoration: underline;
}